name: FPGA Timer Verification CI

on:
  push:
    branches: [ main, task* ]  # runs on main and any task branch
  pull_request:
    branches: [ main ]         # check pull request too

jobs:
  test:
    runs-on: ubuntu-latest
    # Container removed: using 'setup-oss-cad-suite'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Tools
        uses: YosysHQ/setup-oss-cad-suite@v3 # installs GHDL, Yosys, SBY
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: |
          pip3 install vunit_hdl               # install lib

      - name: Run VUnit Tests
        run: python3 run.py -v     # fire the tests

      - name: Run Formal Verification
        run: sby -f timer.sby      # run formal proof