name: FPGA Timer Verification CI

on:
  push:
    branches: [ main, task* ]  # runs on main and any task branch
  pull_request:
    branches: [ main ]         # check pull request too

jobs:
  test:
    runs-on: ubuntu-22.04     # use stable linux version
    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # get my files
      
      - name: Setup GHDL
        uses: ghdl/setup-ghdl-ci@nightly # use diffrent version
        with:
          backend: mcode       # use mcode backend like local

      - name: Install VUnit
        run: pip install vunit # install python lib

      - name: Run VUnit Tests
        run: python run.py -v  # fire the tests