name: FPGA Timer Verification CI

on:
  push:
    branches: [ main, task* ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup FPGA Tools
       
        uses: YosysHQ/setup-oss-cad-suite@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Python Libs

        run: pip3 install vunit_hdl --break-system-packages

      - name: Run VUnit Tests
        run: python3 run.py -v

      - name: Run Formal Verification
        run: sby -f timer.sby