name: FPGA Timer Verification CI

on:
  push:
    branches: [ main, task* ]  # runs on main and any task branch
  pull_request:
    branches: [ main ]         # check pull request too

jobs:
  test:
    runs-on: ubuntu-22.04      # use stable linux version
    container: ghdl/ghdl:mcode-latest # use docker image with ghdl pre-installed

    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # get my files

      - name: Install VUnit
        run: |
          apt-get update -y && apt-get install -y python3-pip # need pip to install vunit
          pip3 install vunit_hdl --break-system-packages      # install vunit lib

      - name: Run VUnit Tests
        run: python3 run.py -v     # fire the tests